GIN_MODE=release
SEEDERS=false

APP_HOST=http://localhost

DB_USER=user
DB_PASSWORD=password
DB_HOST=mysql
DB_PORT=3306
DB_NAME=home_monitor_iot

JWT_SECRET=secret
JWT_EXPIRATION_HOURS=24

MQTT_BROKER=tcp://emqx:1883
MQTT_USER=user
MQTT_PASSWORD=password
MQTT_CLIENT_ID=home-monitor-backend